<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect requests to the public directory if not already there
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Redirect requests to index.php if the requested resource doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
